@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
  
:root
{
    --blue: #131314;
    --white: #0f0d1a;
    --grey: #f5f5f5;
    --black1: rgb(172, 172, 172);
    --black2: #999;
}

body
{
    min-height: 100vh;
    overflow: auto;
    background: var(--blue);
}

a {
    color: inherit;
}

.navigation
{
    position: absolute;
    width: 100%;
    height: 5%;
    background: #15151e;
    border-left: 10px solid var(--blue);
    top:0px;
}

.title
{    
    position: relative;
    padding-left: 55px;
    line-height: 60px;
    color: #e9e5e5;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;
    left: -45px;
    font-weight: bold;
}

/* main */
.main
{
    position: relative;
    width: 100%;
    top: 25px;
    height: 155px;
    background-color: #1c1c1c;
    z-index: 500;
}

.menu {
    position: relative;
    top: 85px;
    margin-top: -120px;
    z-index: 500;
    margin-left: 20%;
}

.logo-logo
{
    position: absolute;
    margin-left: 21.5%;
    margin-top: 50px;
}

.details
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

.details .recentOrders
{
    background: #1a1a1a;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0, 50%);
    border-radius: 20px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h3
{
    font-weight: 400;
    color: #0098ad;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: monospace;
}
.btn
{
    position: relative;
    padding: 10px 40px;
    background: var(--blue);
    text-decoration: none;
    color: var(--grey);
    border-radius: 20px;
    font-size: small;
    left: 30%;
    text-transform: uppercase;
    font-family: monospace;
}

.btn2 {
    position: relative;
    padding: 10px 40px;
    background: var(--blue);
    text-decoration: none;
    color: var(--grey);
    border-radius: 20px;
    font-size: small;
    text-transform: uppercase;
    font-family: monospace;
}

.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td
{
    font-weight: 600;
    text-transform: uppercase;
    font-family: monospace;
    color: rgb(118 123 187);
}
.details .recentOrders table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child
{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover
{
    background: #11101a;
    color: var(--grey);
}
.details .recentOrders table tr td
{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    width: 105px;
}

.details .recentOrders table tr td
{
    padding: 20px;
    text-align: center;
}
.details .recentOrders table tr td:last-child
{
    padding: 30px;
    text-align: center;
}
.details .recentOrders table tr td:nth-child(2)
{
    text-align: center;
}
.details .recentOrders table tr td:nth-child(3)
{
    text-align: center;
}

/* .menu a {
    width: 36%;
    margin-left: 15px;
} */

.recentCustomers
{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #1c1c1c;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.logo {
    margin-left: 15px;
    margin-top: -15px;
}

.search input
{
    height: 40px;
    border-radius: 40px;
    padding: 20px;
    font-size: 12px;
    background: #121212;
    color: #b8cbcd;
    margin-top: 45px;
    margin-left: 1385px;
}

.fa {
    position: relative;
    height: 55px;
    color: #b8cbcd;
    top: 40px;
    left: 1300px;
}

.home {
    position: relative;
    left: -5px;
    top: 5px;
}

.lupa {
    margin-left: -40px;
    margin-bottom: -5px;
}

.icons {
    left:405px;
    top: 8px;
    margin-bottom: -10px;
}

@media (max-width: 920px) {
    .menu {   
        flex-wrap: wrap;
        width: 200%;
    }
    .main {   
        width: 200%;
        position: relative;
    }
    .logo {
        left: -5px;
    }
    .details {
        margin-top: 125px;
        width: 70%;
        left: 60px;
    }
    .search input{
        width: 200%;
        left: 1000px;
        top: 35px;
    }
    .navigation {
        height: 4%;
        width: 200%;
        position: relative;
    }
  }

@media (max-width: 380px) {
    .main {   
        width: 200%;
        position: relative;
    }
    .menu {   
        flex-wrap: wrap;
        width: 200%;
    }
    .logo {
        left: 50px;
        top: -5px;
    }
    .details {
        margin-top: 125px;
        width: 70%;
        left: 250px;
    }
    .search input{
        left: 1200px;
        top: 25px;
    }
    .navigation {
        height: 4%;
        width: 200%;
        position: relative;
    }
    .home {
        left: 5%;
    }
    .search input{
        width: 200%;
        left: 1000px;
        top: 35px;
    }
}