@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
  
:root
{
    --blue: #131314;
    --white: #0f0d1a;
    --grey: #f5f5f5;
    --black1: rgb(172, 172, 172);
    --black2: #999;
}

body
{
    min-height: 100vh;
    overflow: auto;
    background: var(--blue);
}

.navigation
{
    position: fixed;
    width: 100%;
    height: 3%;
    background: #15151e;
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: auto;
    z-index: 500;
}

.title
{    
    position: relative;
    padding-left: 60px;
    line-height: 60px;
    color: #e9e5e5;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 15px;
    left: 350px;
    font-weight: bold;
}

img {
	position: relative;
    left: 11.5%;
	top: 8px;
}

/* main */
.main
{
    position: fixed;
    width: 100%;
    top: 27px;
    height: 13%;
    background-color: #1c1c1c;
    z-index: 500;
}

.menu {
    position: fixed;
    width: 100%;
    top: 87px;
    margin-top: 25px;
    background-color: #1c1c1c;
    z-index: 500;
    left: -20px;
}

.cardBox
{
    position: fixed;
    margin-left: 19%;
    margin-top: 28px;
}

.details
{
    position: absolute;
    width: 80%;
    top: 200px;
    grid-gap: 30px;
    left: 180px;
}
.details .recentOrders
{
    position: absolute;
    min-height: 500px;
    background: #1a1a1a;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0, 50%);
    border-radius: 20px;
    width: 1500px;
    left: 5%;
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h3
{
    font-weight: 400;
    color: #0098ad;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: monospace;
}
.btn
{
    position: relative;
    padding: 10px 40px;
    background: var(--blue);
    text-decoration: none;
    color: var(--grey);
    border-radius: 20px;
    font-size: small;
}
.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td
{
    font-weight: 600;
    text-transform: uppercase;
    font-family: monospace;
    color: rgb(118 123 187);
}
.details .recentOrders table tr
{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child
{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover
{
    background: #11101a;
    color: var(--grey);
}
.details .recentOrders table tr td
{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    width: 105px;
}

.details .recentOrders table tr td
{
    padding: 20px;
    text-align: center;
}
.details .recentOrders table tr td:last-child
{
    padding: 30px;
    text-align: center;
}
.details .recentOrders table tr td:nth-child(2)
{
    text-align: center;
}
.details .recentOrders table tr td:nth-child(3)
{
    text-align: center;
}

.menu a {
    width: 36%;
    margin-left: 15px;
}

.recentCustomers
{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #1c1c1c;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.logo {
    margin-left: 15px;
    margin-top: 5px;
}

.search input
{
    position: relative;
    height: 40px;
    border-radius: 40px;
    padding: 20px;
    font-size: 12px;
    background: #121212;
    color: #b8cbcd;
    top: 40px;
    left: 1340px;
}

a {
    color: inherit;
    text-transform: uppercase;
    font-family: monospace;
}

.fa {
    position: relative;
    height: 55px;
    color: #b8cbcd;
    top: 40px;
    left: 1300px;
}

.champion{
    left:0px;
    border-radius: 100%;
    padding-right: 4px;
    padding-bottom: 10px;
    font-weight: bold;
}

.home {
    margin-bottom:5px;
    left: 270px;
}

.times {
    left: 260px;
}

.search {
    top: 45px;
    left: 1295px;
}

/* @media screen and (max-width: 1366px) {
    .title {
        left: 175px;
    }
    .menu {
        top: 80px;
    }
    .main {
        top:25px;
    }
    .logo {
        left: -5px;
    }

    .details {
        top: 165px;
        width: 70%;
        left: 60px;
    }
    .search input{
        left: 1000px;
        top: 35px;
    }
    .navigation {
        height: 4%;
    }
    .fa {
        left:960px;
        top:35px;
    }
    img {
        left: 17%;
    }
  }

@media (min-width: 1366px) and (max-width: 1680px) {
    .title {
        left: 330px;
    }
    .menu {
        top: 75px;
    }
    .main {
        top:25px;
    }
    .logo {
        left: 90px;
        top: -5px;
    }

    .details {
        top: 155px;
        width: 70%;
        left: 250px;
    }
    .search input{
        left: 1200px;
        top: 25px;
    }
    .navigation {
        height: 4%;
    }
    .fa {
        left:1160px;
        top:25px;
    }

    img {
        left: 23%;
    }
} */