@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Oswald&display=swap');

body {
 font-family: "Barlow Condensed";
 margin: 0;
}

h1 {
 text-align: center;
 border-bottom: 1px solid #555;
 background-color: #dcdcdc;
 margin: 0;
 margin-bottom: 30px;
 box-shadow: 0 0 5px 5px #004208;
 text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

label.alinha {
 width: 50px; 
 display: inline-block;
}

fieldset {
 width: 50%;
 background: rgba(200,200,200, 0.3);
 margin: auto;
 border-radius: 50px;
 box-shadow: 3px 3px 5px #555;
 margin-top: 50px;
 padding: 30px;
 padding-bottom: 30px;
 text-align: center;
}

input, button {
 font-family: Oswald;
}

button {
 font-size: 20px;
 margin: 10px;
 margin-top: 10px;
 width: 250px;
 height: 40px;
}

p {
 text-align: center;
 border: 5px 5px 5px 2px #004208;;
 background: #D5E7D7;
 width: 50%;
 margin: 20px auto;
}

span {
 font-weight: bold;
 font-style: italic;
 color: #002E06;
}

a {
 text-decoration: none;
 display: block;
 text-align: center;
 color: #000;
 background: #D5E7D7;
    width: 50%;
    margin: 20px auto;
}
